.procedure {
    width: 90%;
    height: auto;
    margin: 6rem auto 0rem auto;
}

.procedure_grid {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.procedure_container {
    width: 100%;
    padding: 0rem 1rem 0rem 0rem;
}

.procedure_container:last-of-type {
    padding: 0rem 0rem 0rem 1rem;
}

.procedure_container .svg_icon {
    width: 3rem;
    height: 3rem;
    color: rgb(49, 49, 49);
}

.procedure_container h5 {
    margin: 15px 0px 15px 0px;
    /* margin: 0 0 10; */
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    line-height: 26px;
}

.procedure_container p {
    margin: 0px !important;
    padding: 0px !important;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0;
    line-height: 24px;
}

.circles_container {
    display: flex;
    margin: 2rem auto 0rem auto;
    display: none;
}

.btn_circles {
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    background-color: transparent;
    border: 0.5px solid gray;
    cursor: pointer;
    margin: auto;
    display: block;
}

@media screen and (min-width: 800px) {
    .procedure_grid {
    transform: translateX(0%) !important;
    }
}

@media screen and (max-width: 800px) {
    .procedure {
        overflow: hidden;
    }
    .procedure_grid {
        width: 400%;
        grid-template-columns: 25% 25% 25% 25%;
        transition: all 0.3s;
    }
    .procedure_container {
        /* display: inline-block; */
    }

    .procedure_container .svg_icon {
        margin: auto;
        display: block;
    }
    .procedure_container h5 {
        text-align: center;
    }
    
    .procedure_container p {
        text-align: center;
    }

    .circles_container {
        width: auto;
        max-width: 35%;
        display: block;
        display: flex;
    }

    .btn_circles.selected {
        background-color: gray;
    }

}