html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


/* =====================
    * COLORS *
========================= */

:root {

  /* Colors */
  --white: #FFFFFF;
  --light-coral: #ffb9a0;

  /* Text */
  --text-color-p: #555;

  /* Buttons */
  --btn-main: #e40f0a;
}