@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

.grid {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
}

/* ------------------ DESCRIPTION ------------------ */

.description {
    width: 90%;
}

.description h1,
.description h2,
.description h3,
.description h4,
.description h5 {
    font-family: 'Montserrat', sans-serif;
    color: #222;
    font-size: 36px !important;
}

/* =====================
    * TEXT *
========================= */

.description h1 {
    font-size: 48px !important;
    line-height: 60px;
    font-weight: 700;
    letter-spacing: -1px;
}

.description p {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
}

/* =====================
    * BUTTONS *
========================= */

.btn_main_2 {
    display: none;
}

.description .btn_main,
.btn_main_2 {
    border: none;
    border-radius: 5px;
    padding: 1rem 1.6rem;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    background-color: var(--btn-main);
    color: var(--white);
    border: 0.5px solid transparent;
    margin: 1rem 0rem;
}

.description .btn_main:hover,
.btn_main_2:hover {
    border: 0.5px solid black;
}

/* ------------------ PLACES ------------------ */

.places_2 {
    display: none;
}

.places span {
    font-family: 'Roboto', sans-serif;
}

.places>span {
    font-weight: 700;
    letter-spacing: 0;
    font-size: 20px;
    line-height: 34px;
}

.places .grid_places {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 1.5rem 0rem;
}

.places .grid_places .container_places {
    display: flex;
    align-items: center;
}

.places .grid_places .container_places .svg_places {
    width: 2.5rem;
    height: 2.5rem;
    color: var(--light-coral);
}

.places .grid_places .container_places span {
    width: 60%;
    font-size: 14px;
}

.image {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
}

.polygon_1 {
    width: 2.5rem;
    height: 2.5rem;
    right: 7rem;
    top: 10rem;
    position: absolute;
}

/* =====================
    * RESPONSIVE *
========================= */

@media screen and (max-width: 800px) {
    .grid {
        grid-template-columns: 100%;
    }

    .description {
        margin: auto;
        width: 100%;
    }

    .description h1 {
        text-align: center;
    }

    .description p {
        text-align: center;
        font-size: 24px;
    }

    .places_1 {
        display: none;
    }

    .places_2 {
        display: block;
    }

    .btn_main_1 {
        display: none;
    }

    .btn_main_2 {
        display: block;
    }
}

@media screen and (max-width: 720px) {
    .description h1 {
        font-size: 40px !important;
        line-height: 60px;
        font-weight: 700;
        letter-spacing: -1px;
    }
}